body {
    background-image: url('../img/placeholder.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}

.milieu {
    text-align: center;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 30px 30px;
}

.milieu p {
    margin-top : 1%;
    font-size: 75%;
}

.bouton {
    background-color: #a32020;
    border: none;
    color: #f8f9fa;
    padding: 20px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    
}

.infos {
    position: absolute;
    bottom: -50%;
    text-align: center;
    margin-top: 150vh;
    background-color: #f8f9fa;
}
