body {
    background-image: url('../img/fond.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    flex-direction: column;
}

.milieu {
    text-align: center;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    border-radius: 15px;
    padding: 30px 30px;
    animation: fadeIn 0.7s ease-in-out;
}

.milieu p {
    margin-top : 1%;
    font-size: 75%;
}

.bouton {
    background-color: #a32020;
    border: none;
    color: #f8f9fa;
    padding: 20px 54px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.bouton:hover {
    background-color: orangered;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.infos {
    position: absolute;
    bottom: -18%;
    text-align: center;
    margin-top: 150vh;
    background-color: #f8f9fa;
    animation: slideUp 1s ease-out;
    animation-play-state: paused;

}

.text1 {
    left: 0;
    position: absolute;
    display: flex;
    bottom: -40%;
    margin-left: 10%;
    background-color: #f8f9fa;
    animation: fadeIn 1.5s ease-out;
    animation-play-state: paused;
}

.text1 p {
    position: absolute;
    margin-top: 70%;
    margin-left: -30%;
    width: 17.2vw;
    text-justify: inter-word;
    text-align: justify;
}


.text2 {
    left: 0;
    position: absolute;
    display: flex;
    bottom: -40%;
    margin-left: 45%;
    background-color: #f8f9fa;
    animation: fadeIn 1.5s ease-out;
    animation-play-state: paused;
}

.text2 p {
    position: absolute;
    margin-top: 70%;
    margin-left: -30%;
    width: 17.2vw;
    text-justify: inter-word;
    text-align: justify;
}


.text3 {
    left: 0;
    position: absolute;
    display: flex;
    bottom: -40%;
    margin-left: 80%;
    background-color: #f8f9fa;
    animation: fadeIn 1.5s ease-out;
    animation-play-state: paused;
}

.text3 p {
    position: absolute;
    margin-top: 70%;
    margin-left: -30%;
    width: 17.2vw;
    text-justify: inter-word;
    text-align: justify;
}

.textBas {
    font-family: 'Papyrus';
    left: 41%;
    position: absolute;
    display: flex;
    bottom: -70%;
    background-color: #f8f9fa;
    animation: slideDown 1s ease-out;
    animation-play-state: paused;
}

#footer {
    position: absolute;
    bottom: -80%;
}