body {
  background-image: url('../img/fond.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
}


#formConnexion {
    margin-top: 5em;
}

#formConnexion label {
  display: block;
}

#formInscription {
    margin-left: 40%;
}

#titreInscription {
    margin-left: 40%;
    margin-top: 8em;
}

#titreLogin {
  text-align: center;
  margin-top: 8em;
}

.centre {
  text-align: center;
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 30px 30px;
  animation: fadeIn 0.5s ease-in-out;
}

.inputText {
    font-size: 15px;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    transition: .5s ease;
    border: none;
    border-bottom: 2px solid #d2d2d2;
  }

  .inputText:focus {
    outline: none;
    border-bottom-color: black;
    transition: .5s ease;
  }

  .bouton {
    color: #FFFFFF;
    background-color: #a32020;
    border: none;
    padding: 12px 24px;
    line-height: 1;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition: 0.4s ease;
    height: 3em;
    opacity: 0.75;
  }
  
  .bouton:hover {
    transition: 0.2s ease;
    opacity: 1;
    cursor: pointer;
  }

  .petit {
    text-align: center;
    width: 10em;
  }

  .font {
    font-size: 12px;
  }
