.centreur {
	margin-top: calc(5vw + 15px);
	display: flex;
	width: 100%;
}

/*style du bandeau de gauche qui contient les compte avec les quelles la discution est engagée ou engageable*/
#left {
	display: flex;
	width: 20vw;
	margin-left: 1vw;
	border-right : solid #8b5e3c 3px;
	padding-top: 25px;
	padding-right: 1vw;
}
#discussionOuverte{
	width: 100%;
}
#left .profil{
	display: flex;
    align-items: center;
    border-radius: 1vw;
    cursor: pointer;
}
#left .profilPicture{
	width: 4vw;
	height: 4vw;
    object-fit: cover;
    border-radius: 50%;
}
.radioCache{
	display: none;
}
input:checked + label{
	background: #d8d9da;
}

/*messagerie top*/
.right {
	height: calc(100vh - (5vw + 30px));
	width: 78vw;
	padding-top: 15px;
}
.msgTop{
	height: 7vh;
	display: flex;
    justify-content: space-between;
}
.msgTopLeft{
    align-items: center;
	display: flex;
	height: 100%;
}
.msgTopLeft h2{
	margin-left: 10px;
}
.msgTop .profilPicture{
	height: 7vh;
	width: 7vh;
    object-fit: cover;
    border-radius: 50%;
}
.msgTopRight{
	margin-right: 3%;
	height: 100%;
}
.petitPoints{
	height: 100%;
}
#spanTroisPoint{
	display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    right: 5%;
    top: calc(5vw + 7vh + 15px + 15px);
    z-index: 1;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 10px;
}
.red{
	color : #ff5e3c;
}
#spanTroisPoint .bouton{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
}
#spanTroisPoint .bouton:hover{
    background: #d8d9da;
}
/*corp*/
.msgBody{
	height: 90%;
	position: relative;
}
#msgContener{
	display: flex;
	height: calc(100% - (2vh + 40px));
    flex-direction: column;
  	overflow-x: hidden;
  	overflow-y: auto;
    margin-bottom: calc(2vh + 40px);
}
.sender{
	color: #6e080a;
	width: 100%;
	display: flex;
    justify-content: flex-end;
}
.reciver{
    color: #080a6e;
	width: 100%;
	display: flex;
    justify-content: flex-start;
}
.sender .msg{
	background: #e8d6ca;
}
.reciver .msg{
	background: #cadce8;
}
.msg{
	margin-right: 4vw;
	margin-left: 2.5vw;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.content{
	font-weight: bold;
}
.hour{
    font-size: 12px;
    color: #88898a;
}
.msgWriter{
	bottom: 0;
	margin-right: 4vw;
	width: 72vw;
	right: 0;
	position: fixed;
    margin-bottom: 2vh;
}
.msgWriter input[type="text"]{
    border: none;
    border-radius: 10px;
    width: 100%;
    background: #dddedf;
    padding: 10px;
}
.msgWriter input[type="text"]:focus-visible{
    border: none;
    background: #ccc;
    outline: none;
}