html{
    background-color: #f8f9fa;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
}

.logo {
    width: 5vw;
    height: 5vw;
    float: left;
    margin-right: 25px;
}

.bandeau {
    background-color: #f8f9fa;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 5px solid #602320;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bandeau a {
    margin: 0 25px;
    text-decoration: none;
    color: #343a40;
    transition: color 0.3s ease;
    font-size: 20px;
}

.bandeau a:hover {
    color: orangered
}